version: "3"

services:
  updater:
    image: {{updater_image}}{{^updater_image}}portainer/portainer-updater:latest{{/updater_image}}
    labels:
      - io.portainer.hideStack=true 
    command: ["agent", "--env-type", "standalone", "{{schedule_id}}", "{{agent_image_name}}{{^agent_image_name}}portainer/agent:latest{{/agent_image_name}}"]
    {{#skip_pull_agent_image}}
    environment:
      - SKIP_PULL=1
    {{/skip_pull_agent_image}}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      {{! - \\.\pipe\docker_engine:\\.\pipe\docker_engine }}
    