<div class="page-wrapper">
  <!-- simple box -->
  <div class="container simple-box">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
      <!-- simple box logo -->
      <div class="row">
        <img ng-if="logo" ng-src="{{ logo }}" class="simple-box-logo" />
        <img ng-if="!logo" src="~@/assets/images/logo_alt.svg" class="simple-box-logo" alt="Portainer" />
      </div>
      <!-- !simple box logo -->

      <div class="panel panel-default">
        <div class="panel-body">
          <!-- init-environment form -->
          <form class="simple-box-form form-horizontal" name="$ctrl.form" novalidate>
            <div class="col-sm-12 form-section-title"> License registration </div>

            <div class="form-group">
              <span class="col-sm-12 text-muted">
                <p>Please register your Portainer license.</p>
              </span>
              <div class="col-sm-12"
                ><span class="small text-muted vertical-center">
                  <pr-icon icon="'info'" feather="true" mode="'primary'" size="'md'" class="vertical-center" aria-hidden="true"></pr-icon>
                  Your license key should start with “2-”.</span
                >
              </div>
            </div>

            <div class="form-group">
              <label for="license-input" class="col-sm-1 control-label text-left">License</label>
              <div class="col-sm-11">
                <input class="form-control" id="license-input" ng-model="$ctrl.license" auto-focus />
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-12">
                <button
                  type="button"
                  class="btn btn-primary btn-sm no-margin"
                  ng-click="$ctrl.submit()"
                  ng-disabled="$ctrl.state.actionInProgress || !$ctrl.isFormValid()"
                  button-spinner="$ctrl.state.actionInProgress"
                >
                  <span ng-hide="$ctrl.state.actionInProgress">Submit</span>
                  <span ng-show="$ctrl.state.actionInProgress">In progress...</span>
                </button>
                <div class="padding-top bold">
                  <a href="https://www.portainer.io/get-a-license" target="_blank">Don't have a license?</a>
                </div>
                <span class="text-danger space-left" ng-if="$ctrl.state.formError">{{ $ctrl.state.formError }}</span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
