<div class="col-sm-12 form-section-title"> Build method </div>
<box-selector slim="true" radio-name="'method'" value="$ctrl.state.Method" options="$ctrl.methodOptions" on-change="($ctrl.onChangeMethod)"></box-selector>

<web-editor-form
  ng-if="$ctrl.state.Method === 'editor'"
  identifier="stack-creation-editor"
  value="$ctrl.formValues.StackFileContent"
  on-change="($ctrl.onChangeFileContent)"
  ng-required="true"
  yml="true"
  placeholder="Define or paste the content of your docker compose file here"
  versions="$ctrl.formValues.versions"
>
  <editor-description>
    You can get more information about Compose file format in the
    <a href="https://docs.docker.com/compose/compose-file/" target="_blank"> official documentation </a>
    .
  </editor-description>
</web-editor-form>

<file-upload-form ng-if="$ctrl.state.Method === 'upload'" file="$ctrl.formValues.StackFile" on-change="($ctrl.onChangeFile)" ng-required="true">
  <file-upload-description> You can upload a Compose file from your computer. </file-upload-description>
</file-upload-form>

<git-form
  ng-if="$ctrl.state.Method === 'repository'"
  value="$ctrl.formValues"
  on-change="($ctrl.onChangeFormValues)"
  base-webhook-url="{{ $ctrl.state.baseWebhookUrl }}"
  webhook-id="{{ $ctrl.state.webhookId }}"
  docs-links
></git-form>

<div ng-if="$ctrl.state.Method == 'repository'" class="form-group">
  <div class="col-sm-12 mb-3">
    <por-switch-field
      name="EnableRelativePaths"
      checked="$ctrl.formValues.SupportRelativePath"
      label="'Enable relative path volumes'"
      label-class="'col-sm-3 col-lg-2'"
      tooltip="'Enabling this means you can specify relative path volumes in your Compose files, with Portainer pulling the content from your git repository to the environment the stack is deployed to.'"
      on-change="($ctrl.onEnableRelativePathsChange)"
    ></por-switch-field>
  </div>
  <div ng-if="$ctrl.formValues.SupportRelativePath">
    <span ng-if="!isDockerStandalone" class="col-sm-12">
      <p class="small vertical-center">
        <pr-icon icon="'info'" mode="'primary'"></pr-icon>
        <span class="text-muted">For relative path volumes use with Docker Swarm, you must have a network filesystem which all of your nodes can access.</span>
      </p>
    </span>

    <!--Local filesystem path-->
    <div class="col-sm-12">
      <div class="form-group">
        <label class="col-sm-3 col-lg-2 control-label text-left"> Local filesystem path </label>
        <div class="col-sm-9 col-lg-10">
          <input type="text" class="form-control" ng-model="$ctrl.formValues.FilesystemPath" placeholder="/mnt" />
          <span class="help-block" ng-if="$ctrl.formValues.FilesystemPath.length === 0">
            <p class="text-warning small vertical-center">
              <pr-icon icon="'alert-triangle'" mode="'warning'" size="'sm'"></pr-icon>
              <span>Local filesystem path is required</span>
            </p>
          </span>
        </div>
      </div>
    </div>

    <!-- Edge configurations-->
    <div class="col-sm-12 mb-3">
      <p class="small vertical-center">
        <pr-icon icon="'info'" mode="'primary'"></pr-icon>
        <span class="text-muted">When enabled, corresponding Edge ID will be passed through as an environment variable: PORTAINER_EDGE_ID.</span>
      </p>
      <por-switch-field
        name="EnablePerDeviceConfigs"
        checked="$ctrl.formValues.SupportPerDeviceConfigs"
        label="'Edge configurations'"
        tooltip="'By enabling the Edge Configuration feature, you gain the ability to define relative path volumes in your configuration files. Portainer will then automatically fetch the content from your git repository by matching the folder name or file name with the Portainer Edge ID, and apply it to the environment where the stack is deployed'"
        label-class="'col-sm-3 col-lg-2'"
        on-change="($ctrl.onEnablePerDeviceConfigsChange)"
      ></por-switch-field>
    </div>

    <!--Configuration path-->
    <div class="col-sm-12" ng-if="$ctrl.formValues.SupportPerDeviceConfigs">
      <div class="form-group">
        <label class="col-sm-3 col-lg-2 control-label text-left"> Configuration path </label>
        <div class="col-sm-9 col-lg-10">
          <path-selector
            value="$ctrl.formValues.PerDeviceConfigsPath"
            model="$ctrl.formValues"
            on-change="($ctrl.onPerDeviceConfigsPathChange)"
            dir-only="true"
            placeholder="'/config'"
          ></path-selector>
          <span class="help-block" ng-if="$ctrl.formValues.PerDeviceConfigsPath.length === 0">
            <p class="text-warning small vertical-center">
              <pr-icon icon="'alert-triangle'" mode="'warning'" size="'sm'"></pr-icon>
              <span>Configuration path is required</span>
            </p>
          </span>
        </div>
      </div>
    </div>

    <!--Matching Type-->
    <div class="col-sm-12" ng-if="$ctrl.formValues.SupportPerDeviceConfigs">
      <div class="form-group">
        <label for="matching_type" class="control-label col-sm-3 col-lg-2 text-left"> Matching rule </label>
        <div class="col-sm-9 col-lg-10">
          <select ng-model="$ctrl.formValues.PerDeviceConfigsMatchType" id="matching_type" class="form-control">
            <option value="file">Match file name with Portainer Edge ID</option>
            <option value="dir">Match folder name with Portainer Edge ID</option>
          </select>
        </div>
      </div>
    </div>

    <!--Edge ID insights box-->
    <div class="col-sm-12" ng-if="$ctrl.formValues.SupportPerDeviceConfigs">
      <insights-box
        type="'slim'"
        header="'How can I use PORTAINER_EDGE_ID as a dynamic environment variable?'"
        content="$ctrl.edgeIdInsightsBoxContent"
        insight-close-id="'edge_stack_creation_edge_id_env_variable'"
      >
        <div>content</div>
      </insights-box>
    </div>
  </div>
</div>

<!-- template -->
<div ng-if="$ctrl.state.Method === 'template'">
  <div class="form-group">
    <label for="stack_template" class="col-sm-1 control-label text-left"> Template </label>
    <div class="col-sm-11">
      <select
        class="form-control"
        ng-model="$ctrl.selectedTemplate"
        ng-options="template as template.label for template in $ctrl.templates"
        ng-change="$ctrl.onChangeTemplate($ctrl.selectedTemplate)"
      >
        <option value="" label="Select an Edge stack template" disabled selected="selected"> </option>
      </select>
    </div>
  </div>
  <!-- description -->
  <div ng-if="$ctrl.selectedTemplate.note">
    <div class="col-sm-12 form-section-title"> Information </div>
    <div class="form-group">
      <div class="col-sm-12">
        <div class="template-note" ng-bind-html="$ctrl.selectedTemplate.note"></div>
      </div>
    </div>
  </div>
  <!-- !description -->

  <web-editor-form
    ng-if="$ctrl.selectedTemplate && $ctrl.formValues.StackFileContent"
    identifier="template-content-editor"
    value="$ctrl.formValues.StackFileContent"
    on-change="($ctrl.onChangeFileContent)"
    yml="true"
    placeholder="Define or paste the content of your docker compose file here"
    ng-required="true"
  >
  </web-editor-form>

  <!-- !template -->
</div>
