.round-cycle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.processing {
  composes: round-cycle;
  opacity: 0.2;
}

.updated {
  composes: round-cycle;
  background-color: var(--ui-green-1);
}

.outdated {
  composes: round-cycle;
  background-color: var(--ui-red-1);
}

.unknown {
  composes: round-cycle;
  background-color: var(--ui-grey-1);
}
