<div class="time-window-wrapper">
  <div ng-if="$ctrl.state.changeWindow || !$ctrl.state.timeSet">
    <div class="time-window-container" ng-if="!$ctrl.readOnly">
      <div
        class="time-window-item"
        uib-timepicker
        readonly-input="true"
        ng-model="$ctrl.state.setStartTime"
        hour-step="$ctrl.state.hstep"
        minute-step="$ctrl.state.mstep"
        show-meridian="$ctrl.state.ismeridian"
        ng-change="$ctrl.timeWindowUpdate()"
      ></div>
      <div class="time-window-item">to </div>
      <div
        class="time-window-item"
        uib-timepicker
        readonly-input="true"
        ng-model="$ctrl.state.setEndTime"
        hour-step="$ctrl.state.hstep"
        minute-step="$ctrl.state.mstep"
        show-meridian="$ctrl.state.ismeridian"
        ng-change="$ctrl.timeWindowUpdate()"
      ></div>
      <div class="time-window-item">
        <select class="form-control" ng-model="$ctrl.state.timeZoneSelected" ng-options="opt for opt in $ctrl.state.options.timezones" ng-change="$ctrl.timeWindowUpdate()">
        </select>
      </div>
    </div>
    <div class="time-window-warning">
      <span class="vertical-center text-warning"
        ><pr-icon icon="'alert-triangle'" mode="'warning'" feather="true"></pr-icon> Automatic updates to stacks or applications outside the defined change window will not
        occur.</span
      >
      <div style="padding: 8px 0px" class="vertical-center text-warning" ng-show="$ctrl.state.timeError">
        <pr-icon icon="'alert-triangle'" mode="'warning'" feather="true"></pr-icon>
        The chosen time configuration is invalid
      </div>
    </div>
  </div>
</div>
<div class="time-window-warning">
  <span class="vertical-center" ng-show="!$ctrl.state.changeWindow && $ctrl.state.timeSet"
    ><pr-icon icon="'alert-circle'" mode="'warning'" feather="true"></pr-icon> Automatic updates to stacks or applications outside
    <span style="font-weight: bold; color: var(--text-muted-color)">
      {{ $ctrl.state.utcStartTime | date: 'shortTime' }} - {{ $ctrl.state.utcEndTime | date: 'shortTime' }} UTC ({{ $ctrl.state.setStartTime | date: 'shortTime' }} -
      {{ $ctrl.state.setEndTime | date: 'shortTime' }} {{ $ctrl.state.dst ? 'DST' : '' }} {{ $ctrl.state.timeZoneSelected }})
    </span>
    will not occur.
  </span>
  <div ng-show="$ctrl.state.timeSet" class="action-link-container">
    <button type="button" class="btn btn-light btn-sm" ng-click="$ctrl.toggleChangeWindow()">{{ $ctrl.state.changeWindow ? 'Cancel' : 'Edit Change Window' }}</button>
  </div>
</div>
