<div class="col-sm-12 pl-0">
  <div ng-if="$ctrl.state.changeWindow || !$ctrl.state.timeSet">
    <div class="inline-flex flex-wrap items-center gap-2" ng-if="!$ctrl.readOnly">
      <div
        uib-timepicker
        readonly-input="true"
        ng-model="$ctrl.state.setStartTime"
        hour-step="$ctrl.state.hstep"
        minute-step="$ctrl.state.mstep"
        show-meridian="$ctrl.state.ismeridian"
        ng-change="$ctrl.timeWindowUpdate()"
      ></div>
      <div> to </div>
      <div
        uib-timepicker
        readonly-input="true"
        ng-model="$ctrl.state.setEndTime"
        hour-step="$ctrl.state.hstep"
        minute-step="$ctrl.state.mstep"
        show-meridian="$ctrl.state.ismeridian"
        ng-change="$ctrl.timeWindowUpdate()"
      ></div>
      <div>
        <select class="form-control" ng-model="$ctrl.state.timeZoneSelected" ng-options="opt for opt in $ctrl.state.options.timezones" ng-change="$ctrl.timeWindowUpdate()">
        </select>
      </div>
    </div>
    <span class="text-warning small flex gap-1 align-top">
      <div class="icon icon-sm">
        <pr-icon icon="'alert-triangle'" mode="'warning'"></pr-icon>
      </div>
      <div>GitOps updates to stacks or applications outside the defined change window will not occur.</div>
    </span>
    <span class="text-warning small inline-flex gap-1 align-top" ng-show="$ctrl.state.timeError">
      <div class="icon icon-sm">
        <pr-icon icon="'alert-triangle'" mode="'warning'"></pr-icon>
      </div>
      <div>The chosen time configuration is invalid</div>
    </span>
  </div>
</div>
<div class="time-window-warning">
  <span class="vertical-center" ng-show="!$ctrl.state.changeWindow && $ctrl.state.timeSet"
    ><pr-icon icon="'alert-circle'" mode="'warning'"></pr-icon>GitOps updates to stacks or applications outside
    <span style="font-weight: bold; color: var(--text-muted-color)">
      {{ $ctrl.state.utcStartTime | date: 'shortTime' }} - {{ $ctrl.state.utcEndTime | date: 'shortTime' }} UTC ({{ $ctrl.state.setStartTime | date: 'shortTime' }} -
      {{ $ctrl.state.setEndTime | date: 'shortTime' }} {{ $ctrl.state.dst ? 'DST' : '' }} {{ $ctrl.state.timeZoneSelected }})
    </span>
    will not occur.
  </span>
  <div ng-show="$ctrl.state.timeSet" class="action-link-container">
    <button type="button" class="btn btn-light btn-sm" ng-click="$ctrl.toggleChangeWindow()">{{ $ctrl.state.changeWindow ? 'Cancel' : 'Edit Change Window' }}</button>
  </div>
</div>
