<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-header icon="key" title-text="Certificate Authority file for Kubernetes Helm repositories"></rd-widget-header>
      <rd-widget-body>
        <form class="form-horizontal" name="$ctrl.sslForm">
          <span class="small text-muted vertical-center mb-3">
            <pr-icon icon="'info'" mode="'primary'"></pr-icon>
            Provide an additional CA file containing certificate(s) for HTTPS connections to Helm repositories.
          </span>

          <!-- SSL Cert -->
          <div class="form-group">
            <div class="col-sm-12 flex items-center">
              <span class="space-right control-label col-sm-3 col-lg-2 !p-0 text-left">
                CA file
                <portainer-tooltip message="'Select a CA file containing your X.509 certificate(s), commonly a crt, cer or pem file.'"></portainer-tooltip>
              </span>
              <button
                class="btn btn-sm btn-primary !ml-0"
                ngf-select
                ng-model="$ctrl.formValues.clientCert"
                ngf-pattern="$ctrl.certFilePattern"
                name="certFile"
                ngf-accept="$ctrl.certFilePattern"
              >
                Select a file
              </button>
              <span class="ml-1 flex h-full items-center">
                {{ $ctrl.formValues.clientCert.name }}
                <pr-icon icon="'x-circle'" class-name="'icon-danger'" ng-if="!$ctrl.formValues.clientCert"></pr-icon>
              </span>
            </div>
          </div>
          <div class="form-group col-md-12" ng-show="$ctrl.sslForm.clientCert.$invalid">
            <div class="small text-warning">
              <div ng-messages="$ctrl.sslForm.clientCert.$error">
                <p ng-message="pattern">
                  <pr-icon icon="'alert-triangle'" mode="'warning'"></pr-icon>
                  File type is invalid.</p
                >
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <button
                type="button"
                class="btn btn-primary btn-sm !ml-0"
                ng-disabled="$ctrl.state.actionInProgress || !$ctrl.isFormChanged()"
                ng-click="$ctrl.save()"
                button-spinner="$ctrl.state.actionInProgress"
                analytics-on
                analytics-category="portainer"
                analytics-event="portainer-settings-ca-file"
              >
                <span ng-hide="$ctrl.state.actionInProgress || $ctrl.state.reloadingPage">Apply changes</span>
                <span ng-show="$ctrl.state.actionInProgress">Saving in progress...</span>
                <span ng-show="$ctrl.state.reloadingPage">Reloading Page...</span>
              </button>
              <span class="text-danger" ng-if="state.formValidationError" class="flex h-full items-center">{{ state.formValidationError }}</span>
            </div>
          </div>
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
