.actionBar {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.actionBar .description {
  margin-bottom: 10px;
}

.refresh-environments-button {
  margin-left: 0 !important;
}

.action-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.refresh-button {
  display: inline-block;
  width: fit-content;
}

.kubeconfig-button {
  display: inline-block;
  width: fit-content;
}

.filterSearchbar {
  display: inline-block;
  width: 100%;
}

.filterSearchbar input[type='text'] {
  background: none !important;
  border: 0px !important;
}
