<div class="wizard-endpoint-type">
  <div ng-click="$ctrl.endpointSelect('docker')">
    <div class="wizard-endpoints {{ $ctrl.active }}">
      <div style="text-align: center; padding: 10px">
        <span ng-if="$ctrl.icon2" class="fa-stack fa-1x" style="font-size: 40px">
          <i class="{{ $ctrl.icon }}"></i>
          <i class="{{ $ctrl.icon2 }}" style="transform: scale(1.4)"></i>
        </span>
        <i ng-if="!$ctrl.icon2" ng-class="[$ctrl.icon, 'block', 'wizard-endpoint-type-icon']"></i>
      </div>

      <div style="margin-top: 15px; text-align: center">
        <h3>{{ $ctrl.endpointTitle }}</h3>
        <h5>{{ $ctrl.description }}</h5>
      </div>
    </div>
  </div>
</div>
