<div class="page-wrapper">
  <!-- login box -->
  <div class="container simple-box">
    <div class="col-sm-4 col-sm-offset-4">
      <!-- login box logo -->
      <div class="row">
        <img ng-if="!ctrl.logo" src="~@/assets/images/logo_alt.svg" class="simple-box-logo" alt="Portainer" />
        <img ng-if="ctrl.logo" ng-src="{{ ctrl.logo }}" class="simple-box-logo" />
      </div>
      <!-- !login box logo -->

      <div class="row text-center p-5">
        <p class="text-xl">Log in to your account</p>
        <p class="text-md text-muted fw-bold">Welcome back! Please enter your details</p>
      </div>

      <!-- login panel -->
      <div class="panel panel-default">
        <div class="panel-body">
          <!-- login form -->
          <form class="simple-box-form form-horizontal">
            <!-- !username input -->
            <div>
              <div class="pb-2">Username</div>
              <input id="username" type="text" class="form-control" name="username" ng-model="ctrl.formValues.Username" auto-focus placeholder="Enter your username" />
            </div>

            <!-- password input -->
            <div>
              <div class="pb-2">Password</div>
              <input id="password" type="password" class="form-control" name="password" ng-model="ctrl.formValues.Password" placeholder="Enter your password" />
            </div>

            <div class="form-group">
              <!-- login button -->
              <div class="col-sm-12 d-flex">
                <button
                  type="submit"
                  class="btn btn-primary btn-lg btn-block"
                  ng-click="ctrl.authenticateUser()"
                  button-spinner="ctrl.state.loginInProgress"
                  ng-disabled="ctrl.state.loginInProgress"
                >
                  <span ng-hide="ctrl.state.loginInProgress">Login</span>
                  <span ng-show="ctrl.state.loginInProgress">Login in progress...</span>
                </button>
              </div>
            </div>
          </form>
          <!-- !login form -->

          <!-- error message -->
          <div class="pull-right" ng-if="ctrl.state.AuthenticationError">
            <i class="fa fa-exclamation-triangle red-icon" aria-hidden="true" style="margin-right: 2px"></i>
            <span class="small text-danger">{{ ctrl.state.AuthenticationError }}</span>
          </div>
        </div>
      </div>

      <!-- !login panel -->
      <div class="panel panel-default" ng-show="ctrl.state.loginInProgress">
        <div class="panel-body">
          <div class="form-group text-center">
            <span class="small text-muted">Authentication in progress... <span button-spinner="true"></span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- !login box -->
</div>
