<page-header title="'Settings'" breadcrumbs="['Settings']"> </page-header>

<application-settings-panel on-success="(handleSuccess)"></application-settings-panel>

<kube-settings-panel></kube-settings-panel>

<helm-cert-panel></helm-cert-panel>

<ssl-certificate-settings></ssl-certificate-settings>

<div class="row">
  <div class="col-sm-12">
    <settings-experimental-features></settings-experimental-features>
  </div>
</div>

<hidden-containers-panel></hidden-containers-panel>

<!-- backup -->
<backup-settings-panel></backup-settings-panel>
